.login-container {
  width: 100%;
  height: 100%;
}

.login-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-header {
  width: 100%;
  height: 25%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header h1 {
  color: white;
}

.login-form {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-form form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  position: relative;
  top: -40px;
  gap: 20px;
}

.login-form form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  position: relative;
  width: 85%;
}

.login-form form label svg {
  position: absolute;
  left: 10px;
}

.login-form form label input {
  width: 100%;
  height: 40px;
  border: unset;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 13px;
  padding-left: 40px;
  letter-spacing: 1px;
}

.btn-login {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn-login button {
  width: 80%;
  height: 40px;
  border-radius: 8px;
  position: relative;
  border: 1px solid black;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  background-color: unset;
}

.btn-login button a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1rem;
}

.btn-login button:disabled {
  opacity: 0.3;
  border: 1px solid grey;
  cursor: progress;
}

.btn-login button:not(:disabled):hover {
  cursor: pointer;
}

.alert {
  display: block;
}

@media screen and (min-width: 650px) {
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-card {
    max-width: 650px;
    height: 90%;
    border-radius: 20px;
    box-shadow:  0.5px 10px 15px rgb(0 0 0 / 20%);;
  }

  .login-header {
    border-radius: 20px 20px 0 0;
  }
}